<!doctype html>
{% load staticfiles %}
<html>
<head>
<title>Customer</title>
<meta charset=utf-8>
</head>
<body>
<h2>Pay2Go Customer Test</h2>
<br>
<a href={% url 'main:main' %}>home</a>
<br>
<br>
{% if data %}
{% for i in data %}
<span>{{i}}</span>
<br>
{% endfor %}
{% endif %}

{% if form %}
<form action="http://1.161.104.54{% url 'pay2go:CustomerURL' %}" method="post">
{{form.as_p}}
        <input type="submit" name="submit" value="submit" class="exclusive_large">
</form>
{% endif %}

</form>
</body>
</html>