{% extends base_template_name %}
{% load control2 %}
{% load staticfiles %}

{% block style %}
<style type="text/css">
.text-size18{
	font-size: 18px;
	line-height: 18px;
}

.list-img{
    width:60px;
}
</style>

{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-12">
        
            <div class="row">
            {% if messages %}
            {% for message in messages %}
            <p class="bg-info h4 text-info">{{message}}</p>
            <br>
            {% endfor %}
            {% endif %}
            
                <div class="col-md-8">
                </div>
                <div class="col-md-2">
                    <a href="{% url 'control:itemAdd' %}" class="btn btn-block btn-info">
                        新增商品
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="{% url 'control:admin' %}" class="btn btn-block btn-info">
                        管理員首頁
                    </a>
                </div>
            </div>
            
            <br>
            <table class="table">
                <thead>
                    <tr class="success">
                        <th style="width:2%;vertical-align: middle;">
                            #
                        </th>
                        <th style="width:10%;vertical-align: middle;">
                            縮圖
                        </th>
                        <th style="width:10%;vertical-align: middle;">
                            名稱
                        </th>
                        <th style="width:10%;vertical-align: middle;">
                            價錢
                        </th>
                        <th>
                            說明
                        </th>
                        <th style="width:5%;vertical-align: middle;">
                            品牌
                        </th>
                        <th style="width:5%;vertical-align: middle;">
                            類別
                        </th>
                        <th style="width:5%;vertical-align: middle;">
                            預覽
                        </th>
                        <th style="width:5%;vertical-align: middle;">
                            修改
                        </th>
                        <th style="width:5%;vertical-align: middle;">
                            貨架
                        </th>
                        <th style="width:4%;vertical-align: middle;">
                            促銷
                        </th>
                        <th style="width:4%;vertical-align: middle;">
                            新品
                        </th>
                    </tr>
                </thead>
                <tbody>
                {% for i in item %}
                    <tr class="{{number|setClass}}">
                        <td>
                            {{i.id}}
                        </td>
                        <td>
                            {{i|getImage|safe}}
                        </td>
                        <td>
                            {{i.name}}
                        </td>
                        <td>
                            {{i.cost|setMoney}}
                        </td>
                        <td>
                            {{i.intro}}
                        </td>
                        <td>
                            {{i.category.brand.name}}
                        </td>
                        <td>
                            {{i.category.name}}
                        </td>
                        <td>
                            <a href="{% url 'control:itemPreview' i.id %}" target="_blank">預覽</a>
                        </td>
                        <td>
                            <a href="{% url 'control:itemEdit' i.id %}">修改</a>
                        </td>
                        <td>
                            {{i|getShelfStatus|safe}}
                        </td>
                        <td>
                            {{i|getDeals}}
                        </td>
                        <td>
                            {{i|getNew}}
                            {{number|delOneNumber}}
                        </td>
                    </tr>

                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}