{% extends base_template_name %}
{% load control2 %}
{% load staticfiles %}

{% block style %}

<script type="text/javascript">
function nextStatus(id, status){
    form = document.getElementById("nextStatus");
    document.getElementById("groupID").value=id;
    document.getElementById("setStatus").value=status;
    form.submit();
}
</script>

{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-8">
                </div>
                <div class="col-md-2">
                </div>
                <div class="col-md-2">
                    <a href="{% url 'control:admin' %}" class="btn btn-block btn-info">
                       管理員首頁
                    </a>
                </div>
            </div>
            <h2>{{page_title}}</h2><br>
			{% for message in messages %}
			{% if 1 == 1 %}
			<br>
			<h3 class="text-success">訂單編號： {{message}} 已成功移到 {{message.tags}}</h3>
			{% endif %}
			{% endfor %}
			
                <form id="nextStatus" method="post" action="{% url 'control:orderNone' %}">
                {% csrf_token %}
			    <input type="hidden" id="groupID" name="groupID" value="" readonly>
			    <input type="hidden" id="setStatus" name="setStatus" value="" readonly>
                </form>
                
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                買家
                            </th>
                            <th>
                               編號
                            </th>
                            <th>
                               總金額
                            </th>
                            <th>
                                目前狀態
                            </th>
                            <th>
                                付款狀態
                            </th>
                            <th>
                                詳細資料
                            </th>
                            <th>
                                結帳日期
                            </th>
                            <th>
                                轉移訂單
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for i in groups %}
                        <tr class="{{number|setClass}}">
                            <td>
                                {{i.user.username}}
                            </td>
                            <td>
                                {{i.number}}
                            </td>
                            <td>
                                {{i.totalAmount|setMoney}}
                            </td>
                            <td>
                                {{i|getStatus}}
                            </td>
                            <td>
                                {{i|getPayStatus|safe}}
                            </td>
                            <td>
                               <a href="{% url 'account:orderDetail' 'list' i.id %}">查看</a>
                            </td>
                            <td>
                                {{i|getDate}}
                            </td>
                            <td>
                                {{i|setNext|safe}}
                                {{number|delOneNumber}}
                            </td>
                        </tr>
                     {% endfor %}
                    </tbody>
                </table>
        </div>
    </div>
</div>
{% endblock %}