{% extends base_template_name %}
{% load staticfiles %}

{% block style %}
<script src="{% static 'tinymce/tinymce.min.js' %}"></script>

<script type="text/javascript">
tinymce.init({
    language : "zh_TW", // change language here
    selector: "textarea",
    plugins: [
        "advlist autolink lists link image charmap print preview anchor",
        "searchreplace visualblocks code fullscreen",
        "insertdatetime media table contextmenu paste textcolor"
    ],
    toolbar: "insertfile undo redo | styleselect | forecolor backcolor bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image"
});
</script>

<style type="text/css">
.text-size18{
	font-size: 18px;
	line-height: 18px;
}

</style>

{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-12">
            <div class="row">
            </div>
                <div class="col-md-2">
                </div>
                <div class="col-md-8">
                
            <div class="row">
                <div class="col-md-8">
                </div>
                <div class="col-md-2">
                    <a href="{% url 'control:admin' %}" class="btn btn-block btn-info">
                        管理員首頁
                    </a>
                </div>
                <div class="col-md-2">
                     
                    <a href="{% url 'control:brand' %}" class="btn btn-block btn-info">
                        上一頁（品牌）
                    </a>
                </div>
            </div>
            <br>
            
                    <form role="form" method="post" action="{% url 'control:brandAdd'%}" enctype="multipart/form-data">
                    {% csrf_token %}
                        <div class="form-group">
                             
                            <label for="name">
                                品牌名稱
                            </label>
                            {{form.name}}
                            <br>
                             <label for="name">啟用品牌-</label>
                            {{form.is_active}}
                        </div>
                        <div class="form-group">
                             
                            <label for="description">
                                簡單說明
                            </label>
                            {{form.description}}
                        </div>
                        <div class="form-group">
                             
                            <label for="image">
                                品牌圖片
                            </label>
                            {{form.image}}
                        </div>
                        <div class="form-group">
                            <label for="content">
                            品牌介紹
                            </label><br>
                            {{form.content}}
                        </div>
                        <br>
                        <button type="submit" class="btn btn-default">送出</button>
                    </form>
                </div>
                <div class="col-md-2">
                </div>
            </div>
        </div>
    </div>
{% endblock %}