{% extends base_template_name %}
{% load control %}
{% load staticfiles %}

{% block style %}
<style type="text/css">
.text-size18{
	font-size: 18px;
	line-height: 18px;
}

</style>

{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-8">
                </div>
                <div class="col-md-2">
                    <a href="{% url 'control:admin' %}" class="btn btn-block btn-info">
                        管理員首頁
                    </a>
                </div>
                <div class="col-md-2">
                     
                    <a href="{% url 'control:categoryAdd' %}" class="btn btn-block btn-info">
                        新增分類
                    </a>
                </div>
            </div>
            <br>
            <table class="table">
                <thead>
                    <tr class="success">
                        <th>
                            #
                        </th>
                        <th>
                            縮圖
                        </th>
                        <th>
                            名稱
                        </th>
                        <th>
                            說明
                        </th>
                        <th>
                            所屬品牌
                        </th>
                        <th>
                            修改
                        </th>
                        <th>
                            狀態
                        </th>
                    </tr>
                </thead>
                <tbody>
                {% for i in number %}
                    <tr class="{{i|setClass}}">
                        <td style="width:4%;vertical-align: middle;">
                            {{i|getID:category}}
                        </td>
                        <td style="width:10%;vertical-align: middle;">
                            {{i|getImage:category|safe}}
                        </td>
                        <td style="width:10%;vertical-align: middle;">
                            {{i|brandName:category}}
                        </td>
                        <td style="vertical-align: middle;">
                        {{i|brandDescription:category}}
                        </td>
                        <td style="width:10%;vertical-align: middle;">
                            {{i|getBrand:category}}
                        </td>
                        </td>
                        <td style="width:4%;vertical-align: middle;">
                            <a href="{% url 'control:categoryEdit' i|getID:category %}">修改</a>
                        </td>
                        <td style="width:4%;vertical-align: middle;">
                            <!-- {{ "too long, don't read"|truncatewords:4}} --> {{i|getStatus:category|safe}}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-2">
        </div>
    </div>
{% endblock %}