{% extends base_template_name %}
{% load staticfiles %}

{% block style %}

<style type="text/css">
.text-size18{
	font-size: 18px;
	line-height: 18px;
}

</style>

{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-12">
            <div class="row">
            </div>
                <div class="col-md-2">
                </div>
                <div class="col-md-8">
                
            <div class="row">
                <div class="col-md-8">
                </div>
                <div class="col-md-2">
                    <a href="{% url 'control:admin' %}" class="btn btn-block btn-info">
                        管理員首頁
                    </a>
                </div>
                <div class="col-md-2">
                     
                    <a href="{% url 'control:category' %}" class="btn btn-block btn-info">
                        上一頁（類別）
                    </a>
                </div>
            </div>
            <br>
            
                    <form role="form" method="post" action="{% url 'control:categoryEdit' categoryID %}" enctype="multipart/form-data">
                    {% csrf_token %}
                        <div class="form-group">
                            <label for="brand">
                                父品牌
                            </label>
                            {{form.brand.errors}}
                            {{form.brand}}
                        </div>
                    
                        <div class="form-group">
                            <label for="name">
                                類別名稱
                            </label>
                            {{form.name.errors}}
                            {{form.name}}
                            <br>
                             <label for="name">啟用類別-</label>
                            {{form.isActive}}
                        </div>
                        <div class="form-group">
                             
                            <label for="description">
                                簡單說明
                            </label>
                            {{form.description.errors}}
                            {{form.description}}
                        </div>
                        <div class="form-group">
                             
                            <label for="image">
                                類別圖片
                            </label>
                            {{form.image.errors}}
                            {{form.image}}
                        </div>
                        <br>
                        <button type="submit" class="btn btn-default">送出</button>
                    </form>
                </div>
                <div class="col-md-2">
                </div>
            </div>
        </div>
    </div>
{% endblock %}