{% extends base_template_name %}
{% load staticfiles %}

{% block style %}
<style type="text/css">
.text-size18{
	font-size: 18px;
	line-height: 18px;
}

</style>

{% endblock %}

{% block main %}
	<div class="row set-height700">
		<div class="col-md-1">
		</div>
		<div class="col-md-10">
			<div class="row">
				<div class="col-md-6">
					<table class="table">
						<thead>
							<tr>
								<th>
									商品管理區
								</th>
							</tr>
						</thead>
						<tbody>
                            <tr>
                                <td>
                                    <a href="{% url 'control:brand' %}">品牌管理</a>
                                </td>
                            </tr>
							<tr>
								<td>
									<a href="{% url 'control:category' %}">分類管理</a>
								</td>
							</tr>
							<tr class="active">
								<td>
									<a href="{% url 'control:item' %}">商品管理</a>
								</td>
							</tr>
						</tbody>
					</table>
					<br><br><br>
                    <table class="table">
						<thead>
							<tr>
								<th>
									首頁相關-新增 & 移除
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<a href="{% url 'control:notice' %}">公告管理</a>
								</td>
							</tr>
							<tr>
								<td>
									<a href="#">最新消息</a>
								</td>
							</tr>
							
						</tbody>
					</table>
					
                    <br><br><br>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    其他功能
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <a href="/control/admin/">Pay2go交易狀態查詢</a>
                                </td>
                            </tr> 
                            <tr>
                                <td>
                                    <a href="/control/admin/">移除超時驗證帳號</a>
                                </td>
                            </tr>  
                            <tr>
                                <td>
                                    <a href="/control/admin/">資料庫管理</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
				</div>
				<div class="col-md-6">
				
					<table class="table">
						<thead>
							<tr>
								<th>
									訂單管理
								</th>
							</tr>
						</thead>
						<tbody>
							<tr class="active">
								<td>
									<a href="{% url 'control:orderNone' %}">總覽(未處理+處理中)</a>
								</td>
							</tr>
							<tr class="danger">
								<td>
									<a href="{% url 'control:order' 0 %}">未處理</a>
								</td>
							</tr>
							<tr class="warning">
								<td>
									<a href="{% url 'control:order' 1 %}">處理中</a>
								</td>
							</tr>
							<tr class="warning">
								<td>
									<a href="{% url 'control:order' 2 %}">配送中</a>
								</td>
							</tr>

							<tr class="success">
								<td>
									<a href="{% url 'control:order' 3 %}">已完成</a>
								</td>
							</tr>
						</tbody>
					</table>
                    
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    系統設定
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="active">
                                <td>
                                    <a href="{% url 'control:config' %}">基本設定</a>
                                </td>
                            </tr>
                            <tr class="success">
                                <td>
                                    <a href="{% url 'control:configEmail' %}">Email設定（必填）</a>
                                </td>
                            </tr>
                            <tr class="info">
                                <td>
                                    <a href="{% url 'control:configPay2go' %}">Pay2Go 設定（必填）</a>
                                </td>
                            </tr>
                            <tr class="warning">
                                <td>
                                    <a href="">系統金鑰（必填）</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
				
				</div>
			</div>
		</div>
		<div class="col-md-1">
		</div>
	</div>
{% endblock %}