{% extends base_template_name %}
{% load account %}
{% load staticfiles %}

{% block style %}

<script type="text/javascript">
function changeForm(){
    var postData = $(this).serializeArray();
    var formURL = $(this).attr("action");
    $.ajax(
    {
        url : formURL,
        type: "POST",
        data : postData,
        success:function(data, textStatus, jqXHR) 
        {
            //data: return data from server
        },
        error: function(jqXHR, textStatus, errorThrown) 
        {
            //if fails      
        }
    });
    e.preventDefault(); //STOP default action
    e.unbind(); //unbind. to stop multiple form submit.
}
</script>
{% endblock %}

{% block main %}
<div class="container-fluid">
    <div class="row">
    {% if not success %}
        <h2>找不到資料</h2>
    {% else %}
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <h2 class="text-info">
                {% if method == "checkout" %}
                結帳完成-等待付款
                {% else %}
                訂單 {{BuyData.MerchantOrderNo}} 的相關資訊
                {% endif %}
            </h2>
            <br>
            <h4>結帳的商品</h4>
                <table class="table">
                    <thead>
                        <tr class="active">
                            <th>
                                #
                            </th>
                            <th>
                               商品名稱
                            </th>
                            <th>
                                商品單價
                            </th>
                            <th>
                                數量
                            </th>
                            <th>
                                小計
                            </th>
                            <th>
                                庫存
                            </th>
                            <th>
                                加入日期
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for i in number %}
                        <tr class="{{i|setClass}}">
                            <td>
                                {{i|setNumber}}
                            </td>
                            <td>
                               {{i|getName:order}}
                            </td>
                            <td>
                                {{i|getCost:order|setMoney}}
                            </td>
                            <td>
                                {{i|getQty:order}}
                            </td>
                            <td>
                                {{i|getSubtotal:order|setMoney}}
                            </td>
                            <td>
                                {{i|getInventory:order|safe}}
                            </td>
                            <td>
                                
                            </td>
                        </tr>
                     {% endfor %}
                        <tr class="success">
                            <td>
                                
                            </td>
                            <td>
                               
                            </td>
                            <td>
                                
                            </td>
                            <td>
                                nofind
                            </td>
                            <td>
                                
                            </td>
                            <td>
                                總錢額：
                            </td>
                            <td>
                                {{group.totalAmount|setMoney}}
                                
                            </td>
                        </tr>
                    </tbody>
                </table>
            
            <h4>付款人資料</h4>
            
                 <table class="table">
                    <thead>
                        <tr class="active">
                            <th style="width:10%">
                                #
                            </th>
                            <th>
                               資料
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="">
                            <td>
                                姓名
                            </td>
                            <td>
                               {{group.payerName}}
                            </td>
                        </tr>
                        <tr class="">
                            <td>
                                電話
                            </td>
                            <td>
                               {{group.payerPhone}}
                            </td>
                        </tr>
                        <tr class="">
                            <td>
                                地址
                            </td>
                            <td>
                               {{group.payerAddress}}
                            </td>
                        </tr>
                    </tbody>
                </table>
         
            <h4>收貨人資料</h4>
                 <table class="table">
                    <thead>
                        <tr class="active">
                            <th style="width:10%">
                                #
                            </th>
                            <th>
                               資料
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="">
                            <td>
                                姓名
                            </td>
                            <td>
                               {{group.recipientName}}
                            </td>
                        </tr>
                        <tr class="">
                            <td>
                                電話
                            </td>
                            <td>
                               {{group.recipientPhone}}
                            </td>
                        </tr>
                        <tr class="">
                            <td>
                                地址
                            </td>
                            <td>
                               {{group.recipientAddress}}
                            </td>
                        </tr>
                    </tbody>
                </table>
                {% if BuyData.enable %}
                <form name="pay2go" style="text-align:center;" method="post" action="{{BuyData.postUrl}}">
                        <input type="hidden" name="MerchantID" value="{{BuyData.MerchantID}}">
                        <input type="hidden" name="RespondType" value="{{BuyData.RespondType}}">
                        <input type="hidden" name="CheckValue" size="50" value="{{BuyData.CheckValue}}">
                        <input type="hidden" name="TimeStamp" value="{{BuyData.TimeStamp}}">
                        <input type="hidden" name="Version" value="{{BuyData.Version}}">
                        <input type="hidden" name="MerchantOrderNo" value="{{BuyData.MerchantOrderNo}}">
                        <input type="hidden" name="Amt" value="{{BuyData.Amt}}">
                        <input type="hidden" name="ItemDesc" value="{{BuyData.ItemDesc}}">
                        <input type="hidden" name="ExpireDate" value="{{BuyData.ExpireDate}}">
                        <input type="hidden" name="ReturnURL" value="{{BuyData.ReturnURL}}">
                        <input type="hidden" name="NotifyURL" value="{{BuyData.NotifyURL}}">
                        <input type="hidden" name="CustomerURL" value="{{BuyData.CustomerURL}}">
                        <input type="hidden" name="Email" value="{{BuyData.Email}}">
                        <input type="hidden" name="LoginType" value="{{BuyData.LoginType}}">
                        <input type="hidden" name="CREDIT" value="{{BuyData.CREDIT}}">
                    <p>
                               訂單編號：<font color="red">{{BuyData.MerchantOrderNo}}</font><br>
                               訂單金額：<font color="red">{{BuyData.Amt}}</font> 。<br> 
                    </p>
                    <button type="submit" name="submit">前往付款</button>
                </form>
                {% else %}
                <span>支付系統未啟用，請通知管理者．</span>
                {% endif %}
        </div>
        <div class="col-md-2"></div>  

    {% endif %}
    </div>
</div>
    {% endblock %}