{% extends base_template_name %}
{% load account %}
{% load staticfiles %}

{% block style %}
<style type="text/css">
.text-size18{
font-size: 18px;
line-height: 18px;
}
.set-height700{
height:700px;
}

</style>
{% endblock %}

{% block main %}
	<div class="row set-height700">
		<div class="col-md-2">
		</div>
		<form method="post" action="{% url 'account:profile' %}">
		<div class="col-md-8">
            {% csrf_token %}
			<table class="table">
				<thead>
					<tr>
						<th class="text-right">
							欄位名稱
						</th>
						<th>
							資料
						</th>
						<th>
							備註
						</th>
					</tr>
				</thead>
				<tbody>
					<tr class="success">
						<td class="text-right">
							會員UUID：
						</td>
						<td>
							暫時不提供
						</td>
						<td>
							在此網站的專屬編號
						</td>
					</tr>
					<tr class="warning">
						<td class="text-right">
                        <p></p>
						<label for="id_username" class="control-label text-size18">
                            {{userform.username.label}}
                        </label>
						</td>
						<td>
							{{userform.username}}
						</td>
						<td>
							你登入時的帳號名稱
						</td>
					</tr>
					<tr class="info">
                        <td class="text-right">
                        <p></p>
                        <label for="id_password" class="control-label text-size18">
                            {{userform.password.label}}
                        </label>
                        </td>
                        <td>
                            {{userform.password}}
                            {{userform.password.errors}}
                        </td>
						<td>
							修改密碼（不改請留空）
						</td>
					</tr>
                    <tr class="info">
                        <td class="text-right">
                        <p></p>
                        <label for="id_password2" class="control-label text-size18">
                            {{userform.password2.label}}
                        </label>
                        </td>
                        <td>
                            {{userform.password2}}
                            {{userform.password2.errors}}
                        </td>
                        <td>
                            確認修改密碼（不改請留空）
                        </td>
                    </tr>
					<tr class="active">
                        <td class="text-right">
                        <p></p>
                        <label for="id_email" class="control-label text-size18">
                            {{userform.email.label}}
                        </label>
                        </td>
                        <td>
                            {{userform.email}}
                        </td>
						<td>
							通知用戶的管道
                            {% if not user.userprofile.isVerified %}
                            <span>   </span><a href="{% url 'account:verify' %}" class="text-danger">立即驗證</a>
                            {% else %}
                            <span class="text-success">已驗證</span>
                            {% endif %}
						</td>
					</tr>
					<tr class="active">
                        <td class="text-right">
                        <p></p>
                        <label for="id_fullName" class="control-label text-size18">
                            {{profileform.fullName.label}}
                        </label>
                        </td>
						<td>
							{{profileform.fullName}}
						</td>
						<td>
							為預設收件人的姓名
						</td>
					</tr>
					<tr class="active">
                        <td class="text-right">
                        <p></p>
                        <label for="id_phone" class="control-label text-size18">
                            {{profileform.phone.label}}
                        </label>
                        </td>
						<td>
							{{profileform.phone}}
						</td>
						<td>
							為預設收件人的電話號碼
						</td>
					</tr>
					<tr class="active">
                        <td class="text-right">
                        <p></p>
                        <label for="id_address" class="control-label text-size18">
                            {{profileform.address.label}}
                        </label>
                        </td>
						<td>
							{{profileform.address}}
						</td>
						<td>
							為預設收件人的地址
						</td>
				</tbody>
			</table>
			
			<div class="row">
				<div class="col-md-4">
					 <span>最後修改日期：{{user.userprofile.changeDate|getFormatDate}}</span>
					 <!--<a href="#" class="btn btn-active btn-lg btn-block">
					 修改資料 <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a>
					 -->
					 {% if messages %}
					 {% for message in messages %}
					 <p>{{message}}</p>
					 {% endfor %}
					 {% endif %}
					
					<button type="submit" class="btn btn-default btn-lg btn-block" >
						修改資料<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
					</button>
				</div>
				<div class="col-md-4">
				</div>		
			</div>
			</div>
			</form>
		</div>
		<div class="col-md-2">
		</div>
{% endblock %}