{% extends base_template_name %}
{% load staticfiles %}

{% block style %}
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.js"></script> 
<script src="{% static 'tinymce/tinymce.min.js' %}"></script>

<script type="text/javascript">
tinymce.init({
    language : "zh_TW", // change language here
    selector: "textarea",
    height: 300,
    plugins: [
        "advlist autolink lists link image charmap print preview anchor",
        "searchreplace visualblocks code fullscreen",
        "insertdatetime media table contextmenu paste textcolor"
    ],
    toolbar: "insertfile undo redo | styleselect | forecolor backcolor bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image"
});

</script>

<style type="text/css">
.text-size18{
    font-size: 18px;
    line-height: 18px;
}

</style>

{% endblock %}

{% block main %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-10">
        
            <div class="row">
                <div class="col-md-8">
                </div>
                
                <div class="col-md-2">
                    <a href="{% url 'control:brand' %}" class="btn btn-block btn-info">
                    上一頁（品牌）
                    </a>
                </div>
                
                <div class="col-md-2">
                    <a href="{% url 'control:admin' %}" class="btn btn-block btn-info">
                    管理員首頁
                    </a>
                </div>
            </div>
        
            <form id="form" role="form" method="post" action="{% url 'control:brandEdit' brandID %}" enctype="multipart/form-data">
            {% csrf_token %}
                <div class="form-group">
                    <label for="id_name">品牌名稱</label>
                    {{form.name}}
                    {{form.name.errors}}
                    <br>
                    <label for="id_isActive">啟用品牌-</label>
                    {{form.isActive}}
                </div>
                
                <div class="form-group">
                    <label for="id_description">簡單說明</label>
                    {{form.description}}
                    {{form.description.errors}}
                </div>
                
                <div class="form-group">
                    <label for="id_image">品牌圖片</label>
                    {{form.image}}
                    <!-- <progress value="0" max="100">0%</progress> -->
                </div>
                                        
                <div class="form-group">
                    <label for="id_content">品牌介紹</label>
                    <br>
                    {{form.content.errors}}
                    {{form.content}}
                </div>
                
                <div class="row">
                        <div class="col-md-2">
                             
                            <button type="submit" class="btn btn-lg btn-block btn-default">
                                送出
                            </button>
                        </div>
                        <div class="col-md-2">
                             
                            <button type="submit" formaction="{% url 'control:brandPreview' 0 %}" formtarget="_blank" class="btn btn-lg btn-block btn-success">
                              預覽介紹
                            </button>
                        </div>
                        <div class="col-md-8">
                        </div>
                    </div>
                
            </form>
        </div>
        <div class="col-md-1">
        </div>
    </div>
</div>
{% endblock %}