{% extends base_template_name %}
{% load staticfiles %}
{% block style %}
    
<style>
hr {
    border:0; height:1px; background-color:#d4d4d4;
    color:#d4d4d4   /* IE6 */
}   
</style>
<script type="text/javascript">
function ditto() {
    if (document.getElementById('Ditto').checked) {
    	var payerName = document.getElementById('id_payerName');
    	var payerAddress = document.getElementById('id_payerAddress');
    	var payerPhone   = document.getElementById('id_payerPhone');
    	var recipientName = document.getElementById('id_recipientName');
    	var recipientAddress = document.getElementById('id_recipientAddress');
    	var recipientPhone = document.getElementById('id_recipientPhone');
        recipientName.value = payerName.value;
        recipientAddress.value = payerAddress.value;
        recipientPhone.value = payerPhone.value;
    }
    else {
        document.getElementById('id_recipientName').value="";
        document.getElementById('id_recipientAddress').value="";
        document.getElementById('id_recipientPhone').value="";
    }
}

function resetForm(){
    form = document.getElementById("resetForm");
    form.submit();
}
</script>
    <!--     
    payerName
    payerAddress
    payerPhone
    recipientName
    recipientAddress
    recipientPhone
     -->
{% endblock %}

{% block main %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-8">
                </div>
                <div class="col-md-2">

                </div>
                <div class="col-md-2">
                     
                    <a href="{% url 'account:center' %}" class="btn btn-block btn-info">
                       回會員中心
                    </a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row" id="Shopping-data">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
		    <h4>結帳進度 50%</h4>
		    <div class="progress">
		        <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%">
		            <span class="sr-only">50% 完成</span>
		        </div>
		    </div>
            <form id="resetForm" method="post" action="{% url 'account:checkout' %}">
                {% csrf_token %}
                <input id="reSet" name="reSet" type="hidden" readonly>
            </form>
        
            <form class="form-horizontal" method="post" action="{% url 'account:checkout' %}">
                {% csrf_token %}
                <input name="byInfo" type="hidden" readonly>
                <h4>付款人資訊</h4>
                <div class="form-group">
                    <label for="id_payerName" class="col-sm-2 control-label">
                        姓名
                    </label>
                    <div class="col-sm-4">
                        {{form.payerName}}
                        {{form.payerName.errors}}
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_payerPhone" class="col-sm-2 control-label">
                        電話
                    </label>
                    <div class="col-sm-4">
                        {{form.payerPhone}}
                        {{form.payerPhone.errors}}
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_payerAddress" class="col-sm-2 control-label">
                        地址
                    </label>
                    <div class="col-sm-10">
                        {{form.payerAddress}}
                        {{form.payerAddress.errors}}
                    </div>
                </div>
   
                <hr style="color:black;">
                <h4>收貨人資訊</h4>
                
                <div class="form-group">
                    <label for="Ditto" class="col-sm-2 control-label">
                        資料同上
                    </label>
                    <div class="col-sm-10">
                        <input type="checkbox" id="Ditto" onclick="ditto()"/>
                    </div>
                </div>
    
                <div class="form-group">
                    <label for="id_recipientName" class="col-sm-2 control-label">
                        收貨人姓名
                    </label>
                    <div class="col-sm-4">
                        {{form.recipientName}}
                        {{form.recipientName.errors}}
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_recipientPhone" class="col-sm-2 control-label">
                        收貨人電話
                    </label>
                    <div class="col-sm-4">
                        {{form.recipientPhone}}
                        {{form.recipientPhone.errors}}
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_recipientAddress" class="col-sm-2 control-label">
                        收貨人地址
                    </label>
                    <div class="col-sm-10">
                        {{form.recipientAddress}}
                        {{form.recipientAddress.errors}}
                    </div>
                </div>
	            <div class="row">
	                <div class="col-md-3">
	                    <button type="submit" class="btn btn-success btn-lg btn-block">
	                        下一步
	                    </button>
	                </div>
	                <div class="col-md-3">
                        <button type="button" class="btn btn-warning btn-lg btn-block" onClick="resetForm()">
                            重填
                        </button>
	                </div>
	                <div class="col-md-6">
	                </div>
	            </div>
            </form>
        </div>
        <div class="col-md-2">
        </div>
    </div>
    
</div>
    {% endblock %}