    {% extends base_template_name %}
    {% load account %}
    {% load staticfiles %}

    {% block style %}

    <script type="text/javascript">
    function Agreement_function()
    {
        document.getElementById("Agreement-div").style.display = 'none';
        document.getElementById("Shopping-data").style.display = 'block';
    }
    function CheckData_function()
    {
        document.getElementById("Shopping-data").style.display= "none";
        document.getElementById("Checkdate-div").style.display = 'block';
    }
    function goShoppingData_function()
    {
        document.getElementById("Checkdate-div").style.display = 'none';
        document.getElementById("Shopping-data").style.display= "block";
    }
    </script>
    
    <style>
    hr {
    border:0; height:1px; background-color:#d4d4d4;
    color:#d4d4d4   /* IE6 */
}</style>
    {% endblock %}

    {% block main %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-8">
                </div>
                <div class="col-md-2">

                </div>
                <div class="col-md-2">
                     
                    <a href="{% url 'account:center' %}" class="btn btn-block btn-info">
                       回會員中心
                    </a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row" id=Agreement-div style="display:block">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <h3>
                訂購協議
            </h3>
            <ol>
                <li>
                    Lorem hr {
    border:0; height:1px; background-color:#d4d4d4;
    color:#d4d4d4   /* IE6 */
}ipsum dolor sit amet
                </li>
                <li>
                    Consectetur adipiscing elit
                </li>
                <li>
                    Integer molestie lorem at massa
                </li>
                <li>
                    Facilisis in pretium nisl aliquet
                </li>
                <li>
                    Nulla volutpat aliquam velit
                </li>
                <li>
                    Faucibus porta lacus fringilla vel
                </li>
                <li>
                    Aenean sit amet erat nunc
                </li>
                <li>
                    Eget porttitor lorem
                </li>
            </ol>
            <div class="row">
                <div class="col-md-3">
                     
                    <button type="button" class="btn btn-lg btn-block btn-success" onClick="Agreement_function()">
                        同意
                    </button>
                </div>
                <div class="col-md-3">
                     <a href="{% url 'account:mycart' %}" class="btn btn-warning btn-block btn-lg">不同意</a>
                </div>
                <div class="col-md-6">
                </div>
            </div>
        </div>
        <div class="col-md-2">
        </div>
    </div>
    
    <div class="row" id="Shopping-data" style="display:none">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <form class="form-horizontal" role="form">
    <!--        
    payerName
    payerAddress
    payerPhone
    recipientName
    recipientAddress
    recipientPhone
    -->  
            <h4>付款人資訊</h4>
                <div class="form-group">
                    <label for="id_payerName" class="col-sm-2 control-label">
                        姓名
                    </label>
                    <div class="col-sm-3">
                        {{form.payerName}}
                        {{form.payerName.errors}}
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_payerPhone" class="col-sm-2 control-label">
                        電話
                    </label>
                    <div class="col-sm-3">
                        {{form.payerPhone}}
                        {{form.payerPhone.errors}}
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_payerAddress" class="col-sm-2 control-label">
                        地址
                    </label>
                    <div class="col-sm-10">
                        {{form.payerAddress}}
                        {{form.payerAddress.errors}}
                    </div>
                </div>
   
                <hr style="color:black;">
                <h4>收貨人資訊</h4>
                
                <div class="form-group">
                    <label for="Ditto" class="col-sm-2 control-label">
                        資料同上
                    </label>
                    <div class="col-sm-10">
                        <input type="checkbox" id="Ditto"/>
                    </div>
                </div>
    
                <div class="form-group">
                    <label for="id_recipientName" class="col-sm-2 control-label">
                        收貨人姓名
                    </label>
                    <div class="col-sm-3">
                        {{form.recipientName}}
                        {{form.recipientName.errors}}
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_recipientPhone" class="col-sm-2 control-label">
                        收貨人電話
                    </label>
                    <div class="col-sm-3">
                        {{form.recipientPhone}}
                        {{form.recipientPhone.errors}}
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_recipientAddress" class="col-sm-2 control-label">
                        收貨人地址
                    </label>
                    <div class="col-sm-10">
                        {{form.recipientAddress}}
                        {{form.recipientAddress.errors}}
                    </div>
                </div>

            </form>
            <div class="row">
                <div class="col-md-3">
                    <button type="button" class="btn btn-success btn-lg btn-block" onClick="Agreement_function()">
                        下一步
                    </button>
                </div>
                <div class="col-md-3">
                </div>
                <div class="col-md-6">
                </div>
            </div>
        </div>
        <div class="col-md-2">
        </div>
    </div>
    
    <div class="row" style="display:none">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                            Product
                        </th>
                        <th>
                            Payment Taken
                        </th>
                        <th>
                            Status
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            1
                        </td>
                        <td>
                            TB - Monthly
                        </td>
                        <td>
                            01/04/2012
                        </td>
                        <td>
                            Default
                        </td>
                    </tr>
                    <tr class="active">
                        <td>
                            1
                        </td>
                        <td>
                            TB - Monthly
                        </td>
                        <td>
                            01/04/2012
                        </td>
                        <td>
                            Approved
                        </td>
                    </tr>
                    <tr class="success">
                        <td>
                            2
                        </td>
                        <td>
                            TB - Monthly
                        </td>
                        <td>
                            02/04/2012
                        </td>
                        <td>
                            Declined
                        </td>
                    </tr>
                    <tr class="warning">
                        <td>
                            3
                        </td>
                        <td>
                            TB - Monthly
                        </td>
                        <td>
                            03/04/2012
                        </td>
                        <td>
                            Pending
                        </td>
                    </tr>
                    <tr class="danger">
                        <td>
                            4
                        </td>
                        <td>
                            TB - Monthly
                        </td>
                        <td>
                            04/04/2012
                        </td>
                        <td>
                            Call in to confirm
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                            Product
                        </th>
                        <th>
                            Payment Taken
                        </th>
                        <th>
                            Status
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            1
                        </td>
                        <td>
                            TB - Monthly
                        </td>
                        <td>
                            01/04/2012
                        </td>
                        <td>
                            Default
                        </td>
                    </tr>
                    <tr class="active">
                        <td>
                            1
                        </td>
                        <td>
                            TB - Monthly
                        </td>
                        <td>
                            01/04/2012
                        </td>
                        <td>
                            Approved
                        </td>
                    </tr>
                    <tr class="success">
                        <td>
                            2
                        </td>
                        <td>
                            TB - Monthly
                        </td>
                        <td>
                            02/04/2012
                        </td>
                        <td>
                            Declined
                        </td>
                    </tr>
                    <tr class="warning">
                        <td>
                            3
                        </td>
                        <td>
                            TB - Monthly
                        </td>
                        <td>
                            03/04/2012
                        </td>
                        <td>
                            Pending
                        </td>
                    </tr>
                    <tr class="danger">
                        <td>
                            4
                        </td>
                        <td>
                            TB - Monthly
                        </td>
                        <td>
                            04/04/2012
                        </td>
                        <td>
                            Call in to confirm
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-md-3">
                     
                    <button type="button" class="btn btn-success btn-lg btn-block">
                        Default
                    </button>
                </div>
                <div class="col-md-3">
                     
                    <button type="button" class="btn btn-warning btn-lg btn-block">
                        Default
                    </button>
                </div>
                <div class="col-md-6">
                </div>
            </div>
        </div>
        <div class="col-md-2">
        </div>
    </div>
    
    <div class="row" style="display:none">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <h3>
                success
            </h3>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>
    {% endblock %}